@keyframes swap {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(150px); /* İstenilen kayma mesafesi */
  }
}

body {
  background-color: rgb(124, 195, 216);
  font-family: cursive;
  padding: 2rem;

}

button {
  margin: auto;
  display: inline-block;
}

.group {
  margin-bottom: 3rem;
}


.submit {
  animation: swap 0.1s infinite alternate;
}
